$font-basic: "Noto Sans JP", "Montserrat", sans-serif;
$font-basic-size: 16px;
$basic-line-height: 1.7;

$basic-font-color: #111;
$basic-base-color: #FAFAFA;
$basic-key-color1: #F5810E;
$basic-key-color2: #FABE00;
$basic-gradation: linear-gradient(180deg, #F8B819 0%, #F0D320 100%);
$width-inner: 1140px;

$white: #fff;
